.footerWrapper {
    padding: 10px 20px;
}

.fullFooter {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.logo {
    justify-self: start;
}

.footerRight {
    justify-self: end;
    display: grid;
    justify-content: end;
    align-content: center;
}

.footerLinks {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;

}

.footerItem {
    list-style: none;
    padding: 10px 15px;
    color: #009BDF;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Avant Garde', 'Open Sans', sans-serif;
}

.footerContact {
    padding: 5px 15px;
}

.footerContactLine {
    margin: 0;
    padding: 5px 0;
    text-align: right;
    font-size: 1.1rem;
    font-family: 'Avant Garde', 'Open Sans', sans-serif;
}

.footerIcon {
    color: #009BDF;
}

.copyright {
    width: 100%;
    margin: 0 auto;
    padding: 25px 10px 10px;
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-column: span 2;
    font-size: .7rem;
}

@media only screen and (max-width: 750px) {
    .fullFooter {
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        justify-content: center;
    
    }

    .logo, .footerRight {
        justify-self: center;
    }

    .footerRight {
        justify-self: center;
        justify-content: center;
    }

    .footerItem {
        text-align: center;
    }
    
    .footerLinks {
        grid-auto-flow: column;
        text-align: center;
        padding-left: 0;
    }

    .footerContactLine {
        text-align: center;
    }

}
