.listWrapper {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(120px, 350px));
    grid-template-rows: 1fr 1fr;
}

.itemIconContainer {
    color: #009BDF;
    background-color: #000000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: grid;
}

.itemIcon {
    color: #009BDF;
    font-size: 50px;
    text-align: center;
}

.itemName {
    font-size: 1.3rem;
    color: #000000;
    text-align: center;
}

.itemNameBlue {
    color: #009BDF;
}