.wrapper {
    padding-bottom: 20px;
}

.heroWrapper {
    width: 100%;
    height: 50vh;
    max-height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    padding: 50px 100px;
}

.heroBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(98.69deg, #000000 48.57%, rgba(0, 114, 164, 0.632172) 71.2%, rgba(255, 255, 255, 0) 92.05%);
    display: grid;
}

.heroLeft {
    width: 70%;
    min-width: 400px;
    align-self: center;
    justify-self: start;
    justify-content: start;
    text-align: left;
    padding: 50px;
}

.pageHeadline {
    font-family: 'Avant Garde';
    font-style: normal;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #009BDF;
}

.pageTagline {
    font-family: 'OpenSans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 3.3rem;
    line-height: 3.75rem;
    color: #FFFFFF;


}

.heroHeadlineBlue {
    color: #009BDF;
    font-weight: 700;
}

@media only screen and (max-width: 900px) {
    .heroWrapper {
        height: 40vh;
    }
    
}
