/* GLOBALS */
.sectionWrapper {
    width: 100%;
    margin: 0 auto;
    display: grid;
    padding-bottom: 50px;
}

.listWrapper {
    width: 100%;
    max-width: 1300px;
    padding: 0 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}

.sectionHeaderWrapper {
    display: grid;
    padding-bottom: 25px;
}


/* TEXT SECTION */
.textWrapper {
    display: grid;
    padding: 25px 35px 0;
}

.textHeader {
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.textContent {
    font-size: 1.2rem;
}

/* IMAGE SECTION */
.imageWrapper {
    width: 100%;
    max-width: 800px;
    position: relative;
    height: 600px;
    min-height: 300px;
    max-height: 70vh;
    margin: 0 auto;
}   

.imageContent {
    object-fit: contain;
    padding-left: 50px;
    padding-right: 50px;
}

/* ICON LIST */

.iconListItem {
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    padding: 35px 15px;
}

.itemIconContainer {
    color: #009BDF;
    background-color: #000000;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
}

.itemIcon{
    fill: #009BDF;
    width: 2.5rem;
    height: auto;
    text-align: center;
    padding-top: .3rem;
}

.itemName {
    font-size: 1.2rem;
    color: #000000;
    text-align: center;
    padding-top: 10px;
}

.itemNameBlue {
    color: #009BDF;
}

/* VALPROP LIST */
.valpropWrapper {
    padding: 0 70px;
}

.full-list {
    display: grid;
    grid-auto-flow: row;
}

.listItem {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    font-size: 1.2rem;
    padding: 20px 30px;
    width: 100%;
}

.itemBullet {
    padding-right: 15px;
}

.itemTitle {
    font-weight: bold;
}

/* SPLIT SECTION */

.splitWrapper {
    width: 100%;
    max-width: 1400px;
    padding: 0 70px;
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    grid-gap: 50px;
    align-content: center;
}

.leftWrapper, .rightWrapper {
    display: grid;
    width: 100%;
    align-items: center;
}

.splitHeader {
    font-family: 'Avant Garde', sans-serif;
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 700;
    padding-top: 15px;
    padding-bottom: 5px;
}

.splitContentList {
    margin: 0;
    padding: 0 0 15px;
}

.splitListItem {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    font-size: 1.3rem;
    padding: 5px 15px;
    width: 100%;
}

.splitItemBullet {
    padding-right: 15px;
}

.splitItemContent {
    list-style: none;
}


.splitImageWrapper {
    width: 100%;
    max-width: 800px;
    position: relative;
    height: 100vw;
    min-height: 300px;
    max-height: 500px;
    margin: 0 auto;
}   

.splitImageContent {
    object-fit: contain;
}


/* FAQ SECTION */
.faqItem {
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 30px;
}

.faqIcon {
    font-size: 1.5rem;
    padding-right: 15px; 
    align-content:flex-end;
}

.faqQuestion {
    font-family: 'Avant Garde', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 5px;
}

.faqAnswer {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

/* CTA BUTTON */
.ctaWrapper {
    padding: 0 70px;
}

.ctaIntro {
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
    padding: 0 15px 20px 15px;
}
.ctaButtonWrapper {
    text-align: center;
}

.ctaButton {
    font-size: 1.3rem;
    line-height: 1.4rem;
    background: #009BDF;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 30px;
    border: none;
}

.whiteArrow {
    color: #ffffff;
    font-size: 1.4rem;
}


/* MOBILE QUERIES */
@media only screen and (max-width: 1200px) {
    .splitWrapper {
        grid-auto-flow: row;
    }

    .rightWrapper {
        grid-row-start: -1;
    }

}

@media only screen and (max-width: 650px) {
    .sectionWrapper {
        padding-bottom: 60px;
    }
    
    .valpropWrapper, .listWrapper, .splitWrapper, .ctaWrapper {
        padding: 0 35px;
    }

    .iconListItem {
        min-width: 150px;
        max-width: 150px;
    }

    .splitContentList {
        padding-left: 5px;
    }

    .faqAnswer, .splitListItem {
        font-size: 1.3rem;
    }
}

