.overviewWrapper {
    padding: 30px 100px 50px;
}

.overviewInnerWrapper {
    width: 100%;
    border: solid 5px #009BDF;
    background-color: #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

}

.pageOverview {
    font-family: 'Avant Garde', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5rem;
    color: #000000;
    text-align: center;
    font-size: 2rem;
    padding: 50px 70px;
}

@media only screen and (max-width: 650px) {
    .pageOverview {
        padding: 50px 35px;
    }
}